extends layout

block content
  h1 Koa v2 Skeleton
  p Made by #[a(href='http://github.com/saadq') Saad Quadri] and released under the #[a(href='https://github.com/saadq/koa2-skeleton/blob/master/LICENSE') MIT license].

  h2 Module Dependencies
  ul
    li
      a(href="https://github.com/koajs/koa") koa
    li
      a(href="https://github.com/alexmingoia/koa-router") koa-router
    li
      a(href="https://github.com/queckezz/koa-views") koa-views
    li
      a(href="https://github.com/koajs/static") koa-static
    li
      a(href="https://github.com/jadejs/jade") jade
